
<!doctype html>

<html lang="en" ng-app='myApp'>
  
  <head>
    
    <title>My Angular App</title>
    
    <link href="styles.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="script.js"></script>

  </head>
  
  
  <body ng-init="numbers=[1,2,3,4]">
    
    <p>{{numbers[0]+numbers[3]}}</p>
    <br>
    <br>
    <hr>
    
    <div data-ng-app="" data-ng-init="quantity=1;price=5">

<h2>Cost Calculator</h2>

Quantity: <input type="number" ng-model="quantity"> <br>
Price: <input type="number" ng-model="price">

<p><b>Total in dollar:</b> {{quantity * price}}</p>

</div>
<br>
<br>
<hr>
    
    
     <div ng-app="" ng-init="names=[
      {name:'Jani',country:'Norway'},
      {name:'Hege',country:'Sweden'},
      {name:'Kai',country:'Denmark'}]">
       
               <ul>
          <li ng-repeat="x	in names">
            {{ x.name + ', ' + x.country }}
          </li>
              </ul>
              <br>
              <br>
              <hr>
              
      
       <p>HELLO WORLD</p>
       
       <h1>WELCOME</h1>
       <br>
       <br>
       <hr>
     
      
<p>Name: <input type="text" ng-model="name" placeholder="enter your name"/></p>

<p>Your name is: {{ name }}</p>
<br>
<br>
<hr>

     </div>
     
     <div ng-app="myApp" ng-controller="myCtrl">
      Name: <input ng-model="name">
      
      <h3>You entered: {{name}}</h3>
     </div>
     
<p>Change the name inside the input field, and you will see the name in the header changes accordingly.</p>
<br>
<br>
<hr>

<form ng-app="" name="myForm">
    Email:
    <input type="email" name="myAddress" ng-model="text">
    <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
</form>

<p>Enter your e-mail address in the input field. AngularJS will display an errormessage if the address is not an e-mail.</p>


     
  </body>
  
</html>